@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Regular.ttf") format("ttf");
  src: url("../fonts/FiraSans-Regular.otf") format("otf");
  src: url("../fonts/FiraSans-Regular.woff") format("woff");
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Medium.ttf") format("ttf");
  src: url("../fonts/FiraSans-Medium.otf") format("otf");
  src: url("../fonts/FiraSans-Medium.woff") format("woff");
  src: url("../fonts/FiraSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Bold.ttf") format("ttf");
  src: url("../fonts/FiraSans-Bold.otf") format("otf");
  src: url("../fonts/FiraSans-Bold.woff") format("woff");
  src: url("../fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Fira Sans";
  font-weight: 400;
  margin: 0;
  border: 0;
  padding: 0;
}

.welcome {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 10px;
}

.welcome-logo {
  margin: -90px auto;
  position: fixed;
}

.container-welcome-title {
  display: flex;
  flex-wrap: wrap;
}

.welcome-title {
  color: #000000;
  margin: auto;
}

.title {
  display: block;
  margin: 0px 0px 5%;
  text-align: center;
}

.title1 {
  font-size: 36px;
}

.title2 {
  font-size: 20px;
  font-weight: 400;
  width: 60%;
  margin: auto;
}

#topNubex {
  z-index: 3;
  position: fixed;
  left: 45px;
  bottom: 45px;
}

@media (max-width: 640px) {
  .welcome {
    padding: 10%;
  }
  .title1 {
    margin: 15% 0;
    font-size: 1.2em;
  }

  .title2 {
    font-size: 0.8em;
    width: 90%;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .welcome {
    padding: 8%;
  }
  .title1 {
    margin: 10% 0;
    font-size: 1.6em;
  }

  .title2 {
    font-size: 1em;
    width: 90%;
  }
}

@media (min-width: 961px) {
  .welcome {
    padding: 3% 5% 7%;
  }
  .title1 {
    font-size: 1.6em;
  }

  .title2 {
    font-size: 1.1em;
    width: 60%;
  }
}

.myvideo {
  display: block;
  text-align: center;
}

@media (max-width: 640px) {
  .myvideo {
    width: 70%;
    height: 20vw;
    margin: 17% auto 7%;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .myvideo {
    width: 60%;
    height: 22vw;
    margin: 27% auto 10%;
  }
}

@media (min-width: 961px) {
  .myvideo {
    width: 30%;
    height: 13vw;
    margin: 7% auto 10%;
  }
}

.footer {
  background-color: black;
  color: #ffffff;
  display: flex;
  padding: 30px;
}

.services {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.service-item {
  margin-right: 10px;
}

.service-link {
  color: #ffffff;
}

.copyright-content {
  display: block;
  margin-bottom: 6px;
  color: #a0a0a0;
}

.footer-components {
  display: flex;
  margin: 0 auto;
}

.titles {
  text-transform: uppercase;
}

.mailto-link {
  color: #a0a0a0;
  text-decoration: none;
}

.products {
  list-style-type: none;
  padding: 0;
}

.products-link {
  color: #a0a0a0;
  text-decoration: none;
}

.aboutus {
  list-style-type: none;
  padding: 0;
}

.aboutus-link {
  color: #a0a0a0;
  text-decoration: none;
}

@media (max-width: 640px) {
  .footer {
    flex-wrap: wrap;
  }

  .titles {
    font-size: 1.2em;
    font-weight: 500;
  }

  .footer-components {
    flex-wrap: wrap;
    margin: 0;
  }

  .footer-component {
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .copyrighting {
    font-size: 0.8em;
  }

  .titles {
    font-size: 1.1em;
  }

  .footer-component {
    font-size: 0.8em;
  }

  .nav-mail {
    margin-right: 80px;
  }

  .products-item {
    margin-bottom: 10px;
  }

  .container-aboutus {
    margin-left: 40px;
  }

  .aboutus-item {
    margin-bottom: 10px;
  }
}

@media (min-width: 961px) {
  .titles {
    font-size: 1.2em;
  }

  .footer-component {
    font-size: 0.9em;
  }

  .nav-mail {
    margin-right: 200px;
  }

  .products-item {
    margin-bottom: 13px;
  }

  .container-aboutus {
    margin-left: 70px;
  }

  .aboutus-item {
    margin-bottom: 13px;
  }
}
