
.welcome {
  background-image: url("../images/image 2.png");
}

.welcome-title {
  width: 100%;
}

.container-welcome-title-button {
  margin: 18vh auto;
}

.loading {
  text-align: center;
  margin: 3% 0 0 0;
}

.loading-svg {
  width: 200px;
  height: 16px;
}

@media (max-width: 640px) {
  .loading {
    font-size: 1.2em;
  }
  .loading-container {
    margin: 29% 0 0 0;
  }
  .loading-svg {
    width: 150px;
    height: 10px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .loading {
    font-size: 1.7em;
  }
  .loading-container {
    margin: 20% 0 0 0;
  }
}

@media (min-width: 961px) {
  .loading {
    font-size: 1.6em;
  }
}