
.welcome {
  background-image: url("../images/image 2.png");
}

.welcome-title {
  width: 100%;
}

.container-welcome-title-button {
  margin: 18vh auto;
}

.reset-video-container {
  position: relative;
}

.reset {
  position: absolute;
}

.reset:hover {
  transform: scale(1.2);
}

@media (max-width: 640px) {
  .reset {
    right: 20%;
    bottom: 100%;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .reset {
    right: 24%;
    bottom: 100%;
  }
}

@media (min-width: 961px) {
  .reset {
    right: 37%;
    bottom: 100%;
  }
}

.changeoptions-contant {
  margin: 0 auto;
  display: block;
}


.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  border-color: #ffcc33;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: #ffcc33;
  background-color: #ffcc33;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

@media (max-width: 640px) {

  .changeoptions-title {
    font-size: 1.7em;
    margin: -5% 0 7% 0;
  }

  .checkboxs {
    font-size: 1.3em;
  }

.changeoptions-contant {
  width: 200px;
}

}

@media (min-width: 641px) and (max-width: 960px) {
 
  .changeoptions-title {
    font-size: 2.2em;
    margin: -5% 0 8% 0;
  }

  .checkboxs {
    font-size: 1.5em;
  }

 .changeoptions-contant {
  width: 250px;
}
}

@media (min-width: 961px) {


  .changeoptions-title {
    font-size: 2.2em;
    margin: -5% 0 8% 0;
  }

  .checkboxs {
    font-size: 1.5em;
  }

  .changeoptions-contant {
  width: 250px;
}
}

.file-submit-block-input {
  opacity: 0;
  filter: alpha(opacity=0);

  position: absolute;
  top: 0;
  right: 0;

  height: 75px;
  font-size: 600px;

  z-index: 2;
  cursor: pointer;
  width: 50%;
}

.submit {
  overflow: hidden;
  position: relative;
  margin: 20% auto;
  text-align: center;
  display: block;
  background-color: black;
  text-transform: uppercase;
  font-weight: 700;
}

.container-submit {
  text-decoration: none;
  color: #ffffff;
}

.submit:hover {
  background: #ffcc33;
}

@media (max-width: 640px) {
  .submit {
    width: 50%;
    padding: 6% 6%;
  }
  .container-submit {
    font-size: 1.1em;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .submit {
    width: 50%;
    padding: 7% 12%;
  }
  .container-submit {
    font-size: 1.4em;
  }
}

@media (min-width: 961px) {
  .submit {
    width: 50%;
    padding: 8% 18%;
  }
  .container-submit {
    font-size: 1.7em;
  }
}










