
.welcome {
  background-image: url("../images/image 2.png");
}
.welcome-title {
  width: 100%;
}

.container-welcome-title-button {
  margin: 18vh auto 5vh;
}

.error-container {
 padding: 6%;
 text-align: center;
}

.error {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: red;
}

@media (max-width: 640px) {
  .error {
  font-size: 1.5em;
  margin: 0 0 3% 0;
}
}
@media (min-width: 641px) and (max-width: 960px) {
  .error {
  font-size: 1.9em;
  margin: 0 0 3% 0;
}
}
@media (min-width: 961px) {
  .error {
  font-size: 2.1em;
  margin: 0 0 3% 0;
}
}

.file-load-block-input {
  opacity: 0;
  filter: alpha(opacity=0);

  position: absolute;
  top: 0;
  right: 0;

  height: 75px;
  font-size: 600px;

  z-index: 2;
  cursor: pointer;
  width: auto;
}

.container-welcome-button {
  overflow: hidden;
  position: relative;

  text-align: center;
  display: block;
  background-color: black;
  text-transform: uppercase;
  font-weight: 700;
}

.welcome-button {
  text-decoration: none;
  color: #ffffff;
}

.container-welcome-button:hover {
  background: #ffcc33;
}

@media (max-width: 640px) {
  .container-welcome-button {
    width: 40%;
    margin: 25% auto;
    padding: 6%;
  }
  .welcome-button {
    font-size: 1.1em;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .container-welcome-button {
    width: 22%;
    margin: 15% auto;
    padding: 2%;
  }
  .welcome-button {
    font-size: 1.3em;
  }
}

@media (min-width: 961px) {
  .container-welcome-button {
    width: 18%;
    margin: 2% auto;
    padding: 2%;
  }
  .welcome-button {
    font-size: 1.7em;
  }
}